@import url(/style/fonts.css);
:root {
  --primary-color: #1fc58e;
  --second-color: #f1f6f9;
  --font-color: #191414;
  --bottom-color: #fae62d;
  --hurt-color: #ff3f52;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--second-color);
}

/* Top of website for Mobile Screen  */
.left-Content {
  height: 50vh;
  background: var(--primary-color);
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.left-Content .left-col {
  text-align: center;
  line-height: 1.3em;
  padding-top: 5em;
}

.left-Content .left-col p {
  font-family: Larsseit-Medium;
  font-size: 1em;
}

.left-Content .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  font-family: Larsseit-Medium;
}

.left-Content .left-col .p1 {
  font-size: 0.9em;
}

.left-Content .left-col .primary-btn {
  margin-top: 1.7em;
}

.left-Content .left-col .primary-btn .btn-cta {
  background: var(--bottom-color);
  color: var(--font-color);
  padding: 0.7em;
  border-radius: 1em;
  border: 1px solid var(--bottom-color);
  text-decoration: none;
  font-family: Larsseit-Medium;
}

.left-Content .email-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.7em 0 0 1.125em;
}

.left-Content .email-content .bi-envelope {
  font-size: 1.5em;
  padding-right: .3em;
}

.left-Content .email-content p {
  font-family: Larsseit-Medium;
  font-size: .9em;
}

/* section Skills  */
.container {
  padding: 2.5em;
}

.container .form {
  /* styling form list skill */
}

.container .form .title-form {
  margin-top: 0;
  font-family: Poppins;
  font-size: 1.1em;
  font-weight: 500;
}

.container .form span {
  position: relative;
}

.container .form span:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 225px;
  border-top: 1px solid black;
  top: -10px;
  left: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.container .form .form-list {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  grid-gap: .8em;
  -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}

.container .form .form-list .form-list-item {
  padding: .3em;
  border-radius: .3em;
  border: 1px solid var(--second-color);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container .form .form-list .list-p {
  font-family: Poppins;
  font-size: 0.875em;
}

.container .socialMedia-cta {
  margin-top: 40px;
}

.container .socialMedia-cta a {
  padding: .5em;
  color: var(--font-color);
}

.container .socialMedia-cta a .bi {
  font-size: 24px;
}

@media (min-width: 110px) {
  .span-1 {
    grid-column: auto / span 2;
  }
}
/*# sourceMappingURL=main.css.map */