@import url(/style/fonts.css);

:root {
  --primary-color: #1fc58e;
  --second-color: #f1f6f9;
  --font-color: #191414;
  --bottom-color: #fae62d;
  --hurt-color: #ff3f52;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--second-color);
}

/* Top of website for Mobile Screen  */

.left-Content {
  height: 50vh;
  background: var(--primary-color);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  .left-col {
    text-align: center;
    line-height: 1.3em;
    padding-top: 5em;

    p {
      font-family: Larsseit-Medium;
      font-size: 1em;
    }
    h1 {
      font-size: 2.5em;
      line-height: 1.3em;
      font-family: Larsseit-Medium;
    }

    .primary-btn {
      margin-top: 1.7em;

      .btn-cta {
        background: var(--bottom-color);
        color: var(--font-color);
        padding: 0.7em;
        border-radius: 1em;
        border: 1px solid var(--bottom-color);
        text-decoration: none;
        font-family: Larsseit-Medium;
      }
    }
  }

  .email-content{
      display: flex;
      align-items: center;
      margin: 4em 0 0 1.125em;

      .bi-envelope{
          font-size: 1.5em;
          padding-right: .3em;
      }
      p{
          font-family: Larsseit-Medium;
          font-size: .9em;
      }
  }
}



